<div class="backdrop" *ngIf="error" (click)="onDismissed()"></div>
<div class="modal" *ngIf="error">
  <h1 class="error-title">Something went wrong!</h1>
  <div class="error-msg">{{ errorMsg }}</div>
  <button class="dismiss-error" (click)="onDismissed()">Dismiss</button>
</div>

<div class="loading-container" *ngIf="loading">
    <div class="loadingio-spinner-spin-9crulu7m9iv"><div class="ldio-r6078keeafj">
        <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
        </div></div>
        <style type="text/css">
        @keyframes ldio-r6078keeafj {
          0% {
            opacity: 1;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1.55,1.55);
          } 100% {
            opacity: 0;
            backface-visibility: hidden;
            transform: translateZ(0) scale(1,1);
          }
        }
        .ldio-r6078keeafj div > div {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #f7e92b;
          animation: ldio-r6078keeafj 0.9090909090909091s linear infinite;
        }.ldio-r6078keeafj div:nth-child(1) > div {
          left: 166px;
          top: 90px;
          animation-delay: -0.7792207792207791s;
        }
        .ldio-r6078keeafj > div:nth-child(1) {
          transform: rotate(0deg);
          transform-origin: 176px 100px;
        }.ldio-r6078keeafj div:nth-child(2) > div {
          left: 137px;
          top: 149px;
          animation-delay: -0.6493506493506492s;
        }
        .ldio-r6078keeafj > div:nth-child(2) {
          transform: rotate(51.42857142857143deg);
          transform-origin: 147px 159px;
        }.ldio-r6078keeafj div:nth-child(3) > div {
          left: 73px;
          top: 164px;
          animation-delay: -0.5194805194805194s;
        }
        .ldio-r6078keeafj > div:nth-child(3) {
          transform: rotate(102.85714285714286deg);
          transform-origin: 83px 174px;
        }.ldio-r6078keeafj div:nth-child(4) > div {
          left: 22px;
          top: 123px;
          animation-delay: -0.3896103896103896s;
        }
        .ldio-r6078keeafj > div:nth-child(4) {
          transform: rotate(154.28571428571428deg);
          transform-origin: 32px 133px;
        }.ldio-r6078keeafj div:nth-child(5) > div {
          left: 22px;
          top: 57px;
          animation-delay: -0.2597402597402597s;
        }
        .ldio-r6078keeafj > div:nth-child(5) {
          transform: rotate(205.71428571428572deg);
          transform-origin: 32px 67px;
        }.ldio-r6078keeafj div:nth-child(6) > div {
          left: 73px;
          top: 16px;
          animation-delay: -0.12987012987012986s;
        }
        .ldio-r6078keeafj > div:nth-child(6) {
          transform: rotate(257.14285714285717deg);
          transform-origin: 83px 26px;
        }.ldio-r6078keeafj div:nth-child(7) > div {
          left: 137px;
          top: 31px;
          animation-delay: 0s;
        }
        .ldio-r6078keeafj > div:nth-child(7) {
          transform: rotate(308.57142857142856deg);
          transform-origin: 147px 41px;
        }
        .loadingio-spinner-spin-9crulu7m9iv {
          width: 200px;
          height: 200px;
          display: inline-block;
          overflow: hidden;
          background: rgba(NaN, NaN, NaN, 0);
        }
        .ldio-r6078keeafj {
          width: 100%;
          height: 100%;
          position: relative;
          transform: translateZ(0) scale(1);
          backface-visibility: hidden;
          transform-origin: 0 0; /* see note above */
        }
        .ldio-r6078keeafj div { box-sizing: content-box; }
        /* generated by https://loading.io/ */
        </style>
</div>

<main class="main">
    <form [formGroup]="form" class="auth" (ngSubmit)="onSubmit()">
        <h1 class="form__title">
            <span *ngIf="login">Login</span>
            <span *ngIf="!login">Signup</span>
        </h1>

        <div class="form__control" *ngIf="!login">
            <input [ngClass]="{'form-error': form.get('name').errors && formError}" class="form__field" type="text" name="name" id="name" placeholder="Name" formControlName="name" >
            <label class="form__label" for="name">Name</label>
        </div>

        <div class="form__control">
            <input [ngClass]="{'form-error': form.get('email').errors && formError}" class="form__field" type="text" name="email" id="email" placeholder="Email" formControlName="email" >
            <label class="form__label" for="email">Email</label>
        </div>

        <div class="form__control">
            <input [ngClass]="{'form-error': form.get('password').errors && formError}" class="form__field" type="password" name="password" id="password" placeholder="Password" formControlName="password" >
            <label class="form__label" for="password">Password</label>
        </div>

        <div class="form__control" *ngIf="!login">
            <input [ngClass]="{'form-error': form.get('repassword').errors && formError}" class="form__field" type="password" name="repassord" id="repassword" placeholder="Confirm Password" formControlName="repassword" >
            <label class="form__label" for="repassword">Confirm Password</label>
        </div>

        <div class="form__control" *ngIf="login">
          <div [ngClass]="{'form-error': form.get('type').errors && formError}" class="sel" (click)="onToggleActive(sel)" #sel>
            <span class="sel__placeholder" data-placeholder="Account Type">Account Type</span>
            <div class="sel__box">
              <span class="sel__box__options" (click)="onOptionSelected(opt1, 0)" #opt1>Business</span>
              <span class="sel__box__options" (click)="onOptionSelected(opt2, 1)" #opt2>Manager</span>
              <span class="sel__box__options" (click)="onOptionSelected(opt3, 2)" #opt3>Employee</span>
            </div>

            <select name="select-profession" id="select-profession" formControlName="type" style="display: none;">
              <option [ngValue]="null" disabled>Account type</option>
              <option [ngValue]="1">Business</option>
              <option [ngValue]="2">Manager</option>
              <option [ngValue]="3">Employee</option>
            </select>
          </div>
        
        </div>

        <button type="submit" class="btn auth-btn">
          <span *ngIf="login">Login</span>
            <span *ngIf="!login">Signup</span>
        </button>

        <span class="divider"></span>

        <div class="btn auth-switch" (click)="login = !login">
          <span *ngIf="!login">I Already have an account</span>
            <span *ngIf="login">Register to Worxel</span>
        </div>
    </form>
</main>
