@import "../../variables.scss";

$white: #fff;
$gray: #9b9b9b;

.backdrop {
  background-color: #3131313b;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 10%;
  width: 80%;
  padding: 0.5rem;
  background-color: #da8686;
  z-index: 6;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px #3b3b3b;

  .error-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: red;
  }

  .error-msg {
    font-size: 1.3rem;
    text-align: center;
    color: $white;
    margin: 1rem;
    width: 80%;
  }

  .dismiss-error {
    font: inherit;
    background-color: $white;
    color: red;
    border-radius: 25px;
    width: 50%;
    padding: 0.5rem;
    border: 2px solid red;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
  }
}

.loading-container {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: $secondary-color;
  padding: 1.3rem 0.5rem;
  width: 80%;
  margin: 2rem 1rem;
}

.auth-btn {
  border: 2px solid $tertiary-color;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &:hover {
    border-color: $primary-color;
    color: $tertiary-color;
  }
}

.auth-switch {
  border: 2px solid black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  &:hover {
    border-color: white;
    color: black;
  }
}

.form__title {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem;
}

.form__control {
  position: relative;
  width: 80%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-error {
  color: red;
  border-bottom-color: red !important;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary-color;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary-color, $tertiary-color);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.divider {
  width: 75%;
  border-top: 2px solid $primary-color;
}

// Custom Select
.rule {
  margin: 10px 0;
  border: none;
  height: 1.5px;
  background-image: linear-gradient(to left, #f0f0f0, #c9bbae, #f0f0f0);
}

/* ===== Select Box ===== */
.sel {
  font-size: 1rem;
  display: inline-block;
  width: 80%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 3;
  border-bottom: 4px solid #0000004d;
  align-self: flex-start;
}

.sel::before {
  position: absolute;
  content: "\f063";
  font-family: "FontAwesome";
  font-size: 2em;
  color: #fff;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-size: 1.5em;
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #fff;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: "Quicksand";
  font-size: 1.5em;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media (min-width: 50rem) {
  .form__control {
    width: 50%;
  }

  .sel {
    width: 50%;
  }
}
