<main class="business-dash">
    <button class="btn-event">ADD</button>

    <div class="cal-header">
      <button 
      class="btn cal-nav-btn" 
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="onWeekChange()">
        Previous
      </button>
      <div class="cal-date">
        <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
        <button 
          class="btn cal-nav-btn"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="onWeekChange()">
            Today
        </button>
      </div>
      <button 
        class="btn cal-nav-btn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="onWeekChange()">
          Next
      </button>
    </div>

    <mwl-calendar-week-view
      class="cal"
      [viewDate]="viewDate"
      [events]="events"
      [weekStartsOn]="1"
      >
    </mwl-calendar-week-view>
</main>