<main class="business-dash">
    <!-- <div class="week__control">
        <div class="sel" (click)="onToggleActive(sel)" #sel>
          <span class="sel__placeholder" data-placeholder="Day Schedule">Day Schedule</span>
          <div class="sel__box">
            <span class="sel__box__options" (click)="onOptionSelected(opt1, 0)" #opt1>Monday</span>
            <span class="sel__box__options" (click)="onOptionSelected(opt2, 1)" #opt2>Tuesday</span>
            <span class="sel__box__options" (click)="onOptionSelected(opt3, 2)" #opt3>Wednesday</span>
            <span class="sel__box__options" (click)="onOptionSelected(opt4, 3)" #opt4>Thursday</span>
            <span class="sel__box__options" (click)="onOptionSelected(opt5, 4)" #opt5>Friday</span>
            <span class="sel__box__options" (click)="onOptionSelected(opt6, 5)" #opt6>Saturday</span>
            <span class="sel__box__options" (click)="onOptionSelected(opt7, 6)" #opt7>Sunday</span>
          </div>

          <select name="select-profession" id="select-profession" style="display: none;">
            <option [ngValue]="null" disabled>Day Schedule</option>
            <option [ngValue]="1">Monday</option>
            <option [ngValue]="2">Tuesday</option>
            <option [ngValue]="3">Wednesday</option>
            <option [ngValue]="4">Thursday</option>
            <option [ngValue]="5">Friday</option>
            <option [ngValue]="6">Saturday</option>
            <option [ngValue]="7">Sunday</option>
          </select>
        </div>
      
    </div> -->
    <button class="btn-event">ADD</button>

    <div class="cal-header">
      <button 
      class="btn cal-nav-btn" 
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="onWeekChange()">
        Previous
      </button>
      <div class="cal-date">
        <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
        <button 
          class="btn cal-nav-btn"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="onWeekChange()">
            Today
        </button>
      </div>
      <button 
        class="btn cal-nav-btn"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="onWeekChange()">
          Next
      </button>
    </div>

    <mwl-calendar-week-view
      class="cal"
      [viewDate]="viewDate"
      [events]="events"
      [weekStartsOn]="1"
      >
    </mwl-calendar-week-view>
</main>