<div class="backdrop" #backdrop (click)="onClose(backdrop)"></div>
<div class="update-modal" *ngIf="updating >= 0">
    <form [formGroup]="updateForm" (ngSubmit)="onRename(backdrop)">
        <div class="form__control">
            <input [ngClass]="{'form-error': form.get('name').errors && formError}" class="form__field" type="text" name="updatedname" id="updatedname" placeholder="New Name" formControlName="name" >
            <label class="form__label" for="updatedname">New Name</label>
        </div>
        <button type="submit" class="btn btn-add">Rename Department</button>
    </form>
</div>
<main class="departments-container">
    <form [formGroup]="form" (ngSubmit)="onCreate()" class="department-creation">
        <div class="form__control">
            <input [ngClass]="{'form-error': form.get('name').errors && formError}" class="form__field" type="text" name="name" id="name" placeholder="Name" formControlName="name" >
            <label class="form__label" for="name">Name</label>
        </div>
        <button type="submit" class="btn btn-add">Add Department</button>
    </form>
    <app-list-item *ngFor="let dept of sortedDeptsAlpha; let i = index" [title]="dept.name" [index]="i" (update)="onStartRename(backdrop, i)" (delete)="onRemove(i)">
    </app-list-item>
</main>
