@import "../../../variables.scss";

.item__container {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  background-color: $secondary-color;
  border-radius: 15px;
}

.highlight {
  border: 5px dashed $tertiary-color;
}

.highlight-text {
  color: $tertiary-color !important;
}

.item__front {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.5rem;
  width: 50%;
}

.avatar {
  border: none;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .hours {
    text-align: center;
    font-weight: bold;
    font-size: 2.1rem;
  }
}

.item__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 35%;

  h1,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 2.1rem;
    color: white;
  }

  h3 {
    font-size: 1.2rem;
    color: $primary-color;
  }
}

.item__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    margin: 0.3rem;
  }

  .btn-update {
    border-radius: 25px;
    background-color: darken($tertiary-color, 10);
    border: none;

    &:hover {
      background-color: white;

      i {
        color: darken($tertiary-color, 10);
      }
    }
  }

  .btn-delete {
    border-radius: 25px;
    background-color: red;
    border: none;

    &:hover {
      background-color: white;

      i {
        color: red;
      }
    }
  }
}

i {
  color: white;
}
