/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");
@import "./variables.scss";
@import "~angular-calendar/scss/angular-calendar.scss";

.main {
  width: 100%;
  grid-area: main;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  padding-top: 5rem;
  display: grid;
  grid-template-rows: 5rem auto fit-content(8rem);
  grid-template-areas: "header" "main" "footer";
  padding-top: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;
}

main {
  min-height: calc(100vh - 5rem);
  background-color: $bg-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button:focus {
  outline: none;
}

.btn {
  font: inherit;
  font-weight: bold;
  border-radius: 25px;
  background: transparent;
  width: 50%;
  cursor: pointer;
  margin: 2rem;
  padding: 1rem;
}

@media (min-width: 50rem) {
  .main {
    flex-direction: row;
    height: 100vh;
  }
}

@media (min-width: 80rem) {
  .main {
    flex-direction: row;
  }
}

.dark-theme {
  // First define some global color variables for your app, these are just for the demo, they can be anything you like
  $bg-dark-primary: #1f262d;
  $bg-dark-secondary: #394046;
  $bg-active: #2c343a;
  $text-color: #d5d6d7;
  $border-color: rgba(0, 0, 0, 0.6);

  // Call the calendar mixin with a sass color map of your theme. Every property is optional.
  // For a list of all variables and how they are used,
  // see https://github.com/mattlewis92/angular-calendar/tree/master/projects/angular-calendar/src/variables.scss
  @include cal-theme(
    (
      bg-primary: $bg-dark-primary,
      bg-secondary: $bg-dark-secondary,
      weekend-color: indianred,
      bg-active: $bg-active,
      border-color: $border-color,
      gray: $bg-dark-secondary,
      today-bg: $bg-dark-secondary,
      event-color-primary: $bg-dark-secondary,
    )
  );

  // How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
  .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.15;
  }

  // Everything else below is just themes the demo, it's probably not relevant to your app
  background-color: $bg-dark-primary;
  color: $text-color;

  .card {
    border-color: $border-color;
  }

  .card-header {
    background-color: $bg-dark-secondary;
  }

  .card-body {
    background-color: $bg-dark-primary;
  }

  .nav-tabs {
    border-bottom-color: $border-color;
  }

  .nav-tabs .nav-link.active {
    background-color: $bg-dark-primary;
    color: $text-color;
    border-color: $border-color;
  }

  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border-color: $border-color;
  }
}
