<main class="main-home">
    <div class="plan" id="free">
        <h1 class="plan__title">Worxel Free</h1>
        <p class="plan__description">
            Perfect for managers that aren't part of a Worxel Network, 
            but still want to have an organized schedule for their employees
        </p>
        <a href="https://play.google.com/store/apps/details?id=dev.francescobarranca.work_schedule" class="btn btn-free">Download Free App</a>
    </div>
    <div class="plan" id="premium">
        <h1 class="plan__title">Worxel Network</h1>
        <p class="plan__description">
            Designed for businesses that need to keep track of the working hours of their employees, 
            by offering them the right tools to always remain perfectly organized
        </p>
        <button class="btn btn-premium">Sign Up for $5/month</button>
    </div>
</main>
